/*selector universal/ resetea los estilos por default*/
* {
    margin: o;
    padding: 0;
}


/* fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rouge+Script&display=swap');




/*formas de agreagar estilos a mis etiquetas de HTML*/
/*

selector{
    propiedad:valor;
}
*/
/*1-directamente a la etipueta*/

header{
    background-color: coral ;
    font-family: 'Lobster', cursive;
}

a{
    color: black;
    text-decoration: none;
}
/*2-clases: es un atributoq nos permite individualizar a los elementos de HTML*/

.enlace{
    background-color: cornflowerblue;
}

/*3-ID*/

#nosotros{
    background-color: blue;
}

/*CSS: hoja de estilo en cascada*/
section h2{
    color: darkgreen;
}

/*varias etiquetas,class que comparten las mismas propiedades pero no estan en la misma cascada se unen con la coma */

/*clase 4 fecha30/5*/


/*uso de BEM(modificador de elementos por bloques)*/
/* cabecera/ cabecera__lista*/
/* para saber q son modificadores son --*/

/*box modeling*/
/*le podemos decir el alto y el ancho
width=ancho(fit-content es q se adapte al contenido)
height=alto
medidas absolutas=px
        relativas=rem,%(es en relacion al padre o la etiqueta q lo envuelve),vh(se adapta al poncentaje de la pantalla),vx*/

/* MARGIN-PADDING-BORDER*/

/*border es lo q rodea*/

.enlace{
    border: 15px black;

/*padding es del contenido al margin*/
    /*padding: 10px;
    padding: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 30px;
    
    /*para hacer todo junto
    padding: 10px 15px 20px 30px*/
    /*padding: arriba-abajopx izq.derpx*/


    /*margin es del borde hacia afuera*/

    margin: 100px auto;

    /*DISPLAY
    display: inline( uno al lado del otro)
    display:none(lo saca)
    display: block(uno abajo del otro)*/

    /*POSITIONS
    *STICKY
    *FIXED
    *RELATIVE
    *ABSOLUTE */
    

    /*clase 6/6/22*/
    
    /*GRIDS*/

    
}


